

body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}


.container {
    max-width: 1140px;
}
#social {
    margin: 0 0 0 -15px;
    padding: 4px 0 0 10px;
}
.text-muted {
    color: #777;
}

.text-primary {
    color: #fed136;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fff;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}


.icons{
    background:#6f6f6f; 
    color:white;
}
.time{
    color: #c4c4c4;
    
}
.time strong{
    color: #fff;
}
.serv_cal{
    padding: 12px 0 14px 0;
  
    text-align: center;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: medium;
    font-size: 12px;
    width: 200px;
    max-width: 100%;

}
.serv_cal:hover{
   background: #fcb71b;
 
}
.serv_cal_in{
    padding: 6px 0 5px 0; 
    color:black;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    width: 200px;
    max-width: 100%;
    
   
}
.serv_cal_in span{
    padding-left: 5px;
    font-size: 14px;

}

.navbar-default {
    border-color: transparent;
    background-color: #fff;
}
.navbar-default .navbar-brand {
    font-family: 'Roboto', sans-serif,cursive;
    color: #fed136;
    margin-top: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fec503;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,.02);
    margin-top: 25px;
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
    margin-top: 35px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;

}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #5e5e5e;
    font-size: 12px;

}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #fed136;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}
.navbar-header a{
    padding:0;
}
nav .navbar-right{
    width: 400px;
}

@media(min-width:280px) {
    .navbar-header {
        background: gray;
        height: 100px;
         background-color: #fff;
    }
    
}

@media (min-width: 1200px) {

    .navbar-brand img {
        width:397px;
        height:62px;
    } 
}
@media(max-width: 480px) {
    
    .navbar-brand img {
        width: 200px;
        height: 30px;
    } 
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand img {
        width: 270px;
        height: 47px;
    } 
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand img {
        width: 397px;
        height: 62px;
    } 
}

@media(max-width:767px) {
    
    .navbar-brand img {
        width: 250px;
        height: 42px;
    } 
}

@media(min-width:768px) {
    
    .navbar-header {
        background: none;

    }
    .icons {
         margin:0 0px 10px 0px;
    }
    .navbar-default {
    
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        margin-top:50px;

    }

    .navbar-default .navbar-brand {
       
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;

    }
    
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;

    }

    .navbar-default.navbar-shrink {
        padding: 0 0 10px 0;
        background-color: #fff;

    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
        background-color: #fff;

    }

}
     
    
header {
    margin-top: 180px;
    color: #ffc100;
    background-attachment: scroll;
    background: url(../img/slide.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    border-top: 1px solid #b2d0eb;
}
.iconstyle img {
    height:32px;
    width:32px;
}

header .intro-text {
    padding-top: 40px;
    padding-bottom: 460px;
    padding-left: 20px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-style: bold;
    line-height: 20px;

}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .intro-text {
        padding-top: 40px;
        padding-bottom: 460px;
    }
    
    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Roboto",Helvetica,Arial,sans-serif;
        font-size: 30px;
        font-weight: 500;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: "Roboto",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-style: italic;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: uppercase;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: medium;
    font-weight: 700;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
        
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}
#portfolio .portfolio-item .portfolio-caption {
    width: 300px;
    padding: 25px;
    max-width: 400px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

#portfolio .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
}

#portfolio * {
    z-index: 2;
    
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}
section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
    width: 400px;
    max-width: 100%;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 150px;
}

section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-moz-placeholder {
    text-transform: uppercase;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact::-moz-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #bbb;
}

section#contact .text-danger {
    color: #e74c3c;
}

footer {
    padding: 8px 0;
    text-align: center;
    background: #1c87cf;
    border-top: 2px solid #045198; 
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-size: 10px;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    line-height: 20px;
    list-style: none;
  
}
.list-inline {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: medium;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0 0 10px;
}
.phone_number{
    padding-left: 20px;

}
.info_in{
    max-width: 552px;

}
::-moz-selection {
    text-shadow: none;
    background: #fed136;
}

::selection {
    text-shadow: none;
    background: #fed136;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #fed136;
}
#map {

    height: 418px;
    margin: 0;
    padding: 0;
    width: 500px;
    color: white;
    border-radius: 4px;
    max-width: 100%;

}
.btn-xl {
  padding: 10px 20px;
  border-color: #fed136;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #fed136;
}

























